body {
    background-image: url(../img/iris\ final.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.h1 {
    font-size: large;
    text-align: center;
}

.card {
    display: flex;
    justify-content: center;
    margin-left: 3%;
}

.bg-cafe {
    background-color: white;
}

.Titulo-bajada {
    display: flex;
    justify-content: center;
    margin-left: 5%;
}

.bajada {
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 1rem;
    max-width: 80%;
    margin-left: 12%;
    border-radius: 8px;
    border-width: 5px;
    border-image: 
    linear-gradient(
      to bottom, 
      white, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.block {
    width: 90%;
    height: 30%;
    position :relative !important; 
    left: 9% !important;
}

.copy {
    font-size: smaller;
}

.bg-black {
    width: 100%;
    background-color: black;
    border-top: 5px;
    border-left: 0px;
    border-right:0px;
    border-style: solid;
    border-color: aliceblue;

}

.Botones {
    display: flex;
    justify-content: center;
    margin-left: 11%;
}

.titcon {
    display: flex;
    justify-content: center;

}

.contacto {
    margin-left: 7% ;
    margin-top: 2%;
    margin-bottom: 5%;
    padding-inline: 30%;
}

.boton{
    background-color:black;
    text-decoration: none;
    color: aliceblue;
    display: flex;
    justify-content: center;
    border: solid;
    margin-left: 45%;
    margin-right: 35%;
    margin-bottom: 1%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.info-final {
    font-size: x-small;
}

.bg-formacion {
    background-color: white;
    color: black;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 1%;
}

.bg-formacion-1 {
    color: black;
    padding-left: 5%;
}

.bg-formacion-2 {
    background-color: white;
    color: black;
    padding-left: 10%;
}