body {
    background-image: url(../img/iris\ final.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.h2 {
    font-size: medium;
    text-align: center;
}

.h3 {
    font-size:medium;
    text-align: center;
}

.list {
    font-size: smaller;
}

.card {
    display: flex;
    justify-content: center;
    margin-left: 3%;
}

.bg-cafe {
    background-color: white;
}

.titulo-mot {
    font-size: medium;
}

.Titulo-bajada {
    font-size: small;
    display: flex;
    justify-content: center;
    margin-left: 5%;
}

.bajada {
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 1rem;
    max-width: 80%;
    margin-left: 12%;
    border-radius: 8px;
    border-width: 5px;
    border-image: 
    linear-gradient(
      to bottom, 
      white, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.bajada2 {
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 0.5rem;
    max-width: 80%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 12%;
    border-radius: 8px;
    border-width: 5px;
    border-image: 
    linear-gradient(
      to bottom, 
      white, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.list {
    margin-left: 10%;
}

.block {
    width: 90%;
    height: 30%;
    position :relative !important; 
    left: 9% !important;
}

.copy {
    font-size: smaller;
}

.bg-black {
    width: 100%;
    background-color: black;
    border-top: 5px;
    border-left: 0px;
    border-right:0px;
    border-style: solid;
    border-color: aliceblue;

}

.Botones {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 11%;
}

.titcon {
    display: flex;
    justify-content: center;

}

.contacto {
    display:block;
    justify-content: center;
    margin-left: 7%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 5%;
    padding-inline: 9%;
}

.boton{
    background-color:black;
    text-decoration: none;
    color: aliceblue;
    display: flex;
    justify-content: center;
    border: solid;
    margin-left: 28%;
    margin-right: 23%;
    margin-bottom: 3%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.boton2 {
    background-color:black;
    text-decoration: none;
    color: aliceblue;
    display: flex;
    justify-content: center;
    border: solid;
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 3%;
    padding: 1px;
    border-radius: 5px;
    text-align: center;
}

.info-final {
    font-size: x-small;
}

.bg-formacion {
    background-color: white;
    color: black;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 1%;
}

.bg-experiencia {
    background-color: white;
    color: black;
    margin-top: 2%;
    margin-bottom: 1%;
}

.bg-formacion-1 {
    color: black;
    padding-left: 5%;
}

.bg-formacion-2 {
    background-color: white;
    color: black;
    padding-left: 10%;
}